html {
    height: 100%;
}

body {
    background-image: url(images/images/startpagebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    text-align: center;
}

    #start button {
        WIDTH: 250PX;
        HEIGHT: 50PX;
        FONT-SIZE: 15PT;
        color: cadetblue;
        background-color: black;
        opacity: 0.8;
    }
